filesystem.h
*.o
*.a
yfs
DISK
TRACE
TTYLOG
TTYLOG.*
.vscode
test/communicate
test/sample1*
test/sample2*
test/tcreate*
test/tcreate2*
test/tlink*
test/tls*
test/topen2*
test/tsymlink*
test/tunlink*
test/writeread*
test/mkyfs*
test/trmdir
test/tchdir
test/tinderect
test/tinderect2
test/tstat
test/tcache